body {
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

a {
  text-decoration: none;
  opacity: 1;
  transition-duration: 1s;
  transition-timing-function: ease;
  color: #2f80ed;;
}

a:hover {
  opacity:0.5;
}
